h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 26px;
}

h3 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
}

p,
li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 130%;
}

ul li {
    margin: 7px 0;
}

ol li {
    margin: 20px 0;
}